USE [master]
GO
/****** Object:  Database [BdLojas]    Script Date: 20/10/2018 22:31:02 ******/
CREATE DATABASE [BdLojas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BdLojas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BdLojas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BdLojas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BdLojas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BdLojas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BdLojas]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 20/10/2018 22:31:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[Id] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lojas]    Script Date: 20/10/2018 22:31:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lojas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RazaoSocial] [nvarchar](100) NULL,
	[NomeFantasia] [nvarchar](100) NULL,
	[Cnpj] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Endereco] [nvarchar](200) NULL,
	[Cidade] [nvarchar](100) NULL,
	[Esatado] [nvarchar](100) NULL,
	[Telefone] [nvarchar](100) NULL,
	[DataCadastro] [datetime] NULL,
	[Agencia] [nvarchar](100) NULL,
	[Conta] [nvarchar](100) NULL,
	[IdCategoria] [int] NULL,
	[Ativo] [bit] NULL,
 CONSTRAINT [PK_Lojas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Lojas]  WITH CHECK ADD  CONSTRAINT [FK_Lojas_Categorias[IdCategoria]]] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([Id])
GO
ALTER TABLE [dbo].[Lojas] CHECK CONSTRAINT [FK_Lojas_Categorias[IdCategoria]]]
GO
USE [master]
GO
